body {
    margin: auto;
}
.index {
    background-image: url("../img/index.jpg");
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 40vh;
}
.secondepage {
    background-image:url("../img/secondepage.jpg");
    margin-left: 35%;
    margin-right: 35%;
}
.formulaire {
    background-image: url("../img/formulaire.jpg");
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20vh;
}
.validation {
    background-image: url("../img/validation.jpg");
    margin-left: 15%;
    margin-right: 15%;
}
.validation table {
    margin: auto;
    text-align: center;
}
.center {
    text-align: center;
}
.global {
    background-color: #00000096;
    color:white;
    padding: 10px;
    border-radius: 15px;
    padding-bottom: 25px;
}
.button :hover{
    color : white;
}
.link {
    text-decoration: none;
    text-decoration-color: none;
    color: white;
}